ul {
    list-style-type: none;
    margin: 6px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(0, 162, 232);
    border-bottom: solid black 2px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 5px;
}

li i {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 1px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 4px;
    border: solid gray 1px;
    border-radius: 29px;
    background-color: rgb(27, 32, 95);
}

li i:hover {
    color: rgb(27, 32, 95);
    background-color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.left-nav {
    padding-top: 6px;
    height: 100%;
    width: 300px;
    background: rgb(27, 32, 95);
    position: fixed;
}

.left-nav a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    margin-left: 5px;
}

.user-label {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 162, 232);
    display: block;
    margin-left: 15px;
}
.user-label:hover{
    color: lightgrey;
    cursor: pointer;
}

.left-nav input {
    margin-top: 20px;
    margin-left: 20px;
}

.main {
    margin-left: 300px;
    background: rgb(27, 32, 95);
}

.file-chooser-btn{
    background-image: url(file_chooser.jpg);
    width: 101px;
    height: 90px;
    margin-left: 20px;
    margin-top: 10px;
}
.file-chooser-btn:hover{
    background-image: url(file_chooser_hovered.jpg);
}

.send-btn {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid white;
    background: rgb(27, 32, 95);
    color: white;
    transition-duration: 0.3s;
}

.send-btn:hover {
    cursor: pointer;
    background: white;
    color: black;
}

.back-btn{
    width: 39px;
    height: 39px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: solid gray 1px;
    border-radius: 29px;
    padding-bottom: 1px;
}
.back-btn:hover{
    cursor: pointer;
    background-color: rgb(0, 162, 232);
    color: white;
    transition-duration: 0.3s;
    border: solid gray 1px;
}

.error-label {
    margin: 0 0 30px;
    color: rgb(255,255,255);
    text-align: center;
}

.text-field {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-field input {
    margin-top: 10px;
}

.text-field textarea {
    resize: none;
    margin-top: 15px;
    width: 80%;

    background: url(http://i.imgur.com/2cOaJ.png) no-repeat local white;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
}

.clickable-icon {
    display: block;
    color: rgb(27, 32, 95);
    text-align: center;
    padding: 4px 1px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 4px;
    border: solid gray 1px;
    border-radius: 29px;
    background-color: white
}

.clickable-icon:hover {
    color: white;
    background-color: rgb(0, 162, 232);
    transition-duration: 0.3s;
    cursor: pointer;
}