ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 32, 95);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 5px;
}

li a:hover {
    color: rgb(0, 162, 232);
    cursor: pointer;
}

li input {
    border-color: grey;
    border-bottom-width: 2px;
    alignment: center;
    margin-top: 14px;
    margin-left: 200px;
    margin-bottom: 14px;
}

.search-button{
    border: 2px solid grey;
    alignment: center;
    margin-top: 12px;
    margin-left: 5px;
    height: 20px;
}

.search-button:hover{
    border: 2px solid blue;
}

li .your-account-href {
    @extend li a;
    margin-left: 150px;
}

.upper-nav{

}

.left-nav {
    height: 100%;
    width: 250px;
    background: rgb(0, 162, 232);
    position: fixed;
}

.left-nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    margin-left: 15px;
}
.left-nav a:hover{
    color: lightgrey;
    cursor: pointer;
}
.left-nav button{
    border: 1px solid white;
    background: rgb(27, 32, 95);
    color: white;
    margin-left: 5px;
    margin-top: 7px;
    transition-duration: 0.3s;
}
.left-nav button:hover{
    cursor: pointer;
    background: white;
    color: rgb(27, 32, 95);
}
.left-nav h2{
    @extend a;
    color: black;
    font-size: 25px;
    margin-left: 7px;
}
.left-nav input{
    margin-left: 10px;
    margin-top: 5px;
}

.main {
    margin-left: 270px;
}
.main-button {
    height: 50%;
    margin-left: 270px;
    border: 2px solid black;
    background: rgb(27, 32, 95);
    color: white;
    margin-top: 7px;
    transition-duration: 0.3s;
    font-size: 12px;
}
.main-button:hover {
    cursor: pointer;
    background: rgb(0, 162, 232);
    color: white;
}
.main-div {
    margin-left: 270px;
}
.main-div a {
    color: rgb(0, 162, 232);
    cursor: pointer;
    transition-duration: 0.3s;
    margin-left: 5px;
    font-size: 20px;
}

.main a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin-left: 15px;
}
.main a:hover{
    color: rgb(27, 32, 95);
    cursor: pointer;
}

.accept-invitation-button {
    border: 1px solid rgb(27, 32, 95);;
    background: green;
    color: white;
    margin-left: 5px;
    margin-top: 7px;
    transition-duration: 0.3s;
}
.accept-invitation-button:hover {
    cursor: pointer;
    background: white;
    color: rgb(27, 32, 95);
}

.reject-invitation-button {
    border: 1px solid rgb(27, 32, 95);;
    background: red;
    color: white;
    margin-left: 5px;
    margin-top: 7px;
    transition-duration: 0.3s;
}
.reject-invitation-button:hover {
    cursor: pointer;
    background: white;
    color: rgb(27, 32, 95);
}

.user-online {
    height: 15px;
    width: 15px;
    background-color: green;
    border: 1px rgb(27, 32, 95);
    border-radius: 50%;
    display: inline-block;
}
.user-offline {
    height: 15px;
    width: 15px;
    background-color: red;
    border: 1px rgb(27, 32, 95);
    border-radius: 50%;
    display: inline-block;
}

@media screen and (max-height: 450px) {
    .left-nav {padding-top: 15px;}
    .left-nav a {font-size: 18px;}
}

nav ul{height:250px; width:80%;}
nav ul{ overflow:hidden;overflow-y:scroll;}

.main-list-header {
    font-size: 25px;
}

.main-list-label {
    font-size: 15px;
}

.pagination {
    margin-top: 12px;
    display: inline-block;
}

.pagination a:hover {
    background-color: rgb(27, 32, 95);
    color: white;
    transition-duration: 0.3s;
}

.pagination a {
    color: black;
    float: left;
    padding: 6px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 12px;
}

.file-name:hover{
    color: rgb(0, 162, 232);
    transition-duration: 0.3s;
    cursor: pointer;
}

.file-description:hover{
    cursor: pointer;
}

.file-name-image:hover{
    cursor: pointer;
}

.user-details {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    height: 10%;
    border-radius: 4px;
}

.user-details:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-details h4 {
    font-size: 15px;
}

.user-details p {
    font-size: 15px;
}

.user-details img {
    width: 40%;
    height: 40%;
    border-radius: 4px 4px 0 0;
}