html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: "Arial Black", Gadget, sans-serif;
    background: linear-gradient(rgb(255,255,255), rgb(222,222,222));
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: rgb(0, 162, 232);
    box-sizing: content-box;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgb(222,222,222);
}

.box h2 {
    margin: 0 0 30px;
    color: rgb(255,255,255);
    text-align: center;
}

.box .user-box {
    position: relative;
}

.box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .user-box input:focus ~ label,
.box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.btn{
    background-color: white;
    border: 2px rgb(27,32,95);
    transition-duration: 0.3s;
}
.btn:hover {
    cursor: pointer;
    background: rgb(27,32,95);
    color: white
}
.error-label {
    color: red;
}


