ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 32, 95);
    border-bottom: solid black 2px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 5px;
}


.left-nav {
    height: 100%;
    width: 1000px;
    background: rgb(0, 162, 232);
    position: fixed;
}

.left-nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    margin-left: 15px;
}

.user-label {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 162, 232);
    display: block;
    margin-left: 15px;
}
.user-label:hover{
    color: lightgrey;
    cursor: pointer;
}

.left-nav input {
    margin-top: 20px;
    margin-left: 20px;
}

.main {
    margin-left: 600px; /* Same as the width of the sidenav */
}

.file-chooser-btn{
    background-image: url(file_chooser.jpg);
    width: 101px;
    height: 90px;
    margin-left: 20px;
    margin-top: 10px;
}
.file-chooser-btn:hover{
    background-image: url(file_chooser_hovered.jpg);
}

.send-btn {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid white;
    background: rgb(27, 32, 95);
    color: white;
    transition-duration: 0.3s;
}
.send-btn:hover {
    cursor: pointer;
    background: rgb(0, 162, 232);
    color: white;
}

.back-btn{
    background-image: url(back_button.jpg);
    width: 83px;
    height: 62px;
    margin-left: 20px;
    margin-top: 10px;
}
.back-btn:hover{
    background-image: url(back_button_hovered.jpg);
}

.error-label {
    margin: 0 0 30px;
    color: rgb(255,255,255);
    text-align: center;
}