ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 32, 95);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 5px;
}

li a:hover {
    color: rgb(0, 162, 232);
    cursor: pointer;
}

li input {
    border-color: grey;
    border-bottom-width: 2px;
    alignment: center;
    margin-top: 14px;
    margin-left: 200px;
    margin-bottom: 14px;
}

.search-button{
    border: 1px solid grey;
    alignment: center;
    margin-top: 13px;
    margin-left: 5px;
    height: 20px;
}

li .your-account-href {
    @extend li a;
    margin-left: 150px;
}





.left-nav {
    height: 100%;
    width: 250px;
    background: rgb(0, 162, 232);
    position: fixed;
}

.left-nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    margin-left: 15px;
}
.left-nav a:hover{
    color: lightgrey;
    cursor: pointer;
}
.left-nav button{
    border: 1px solid white;
    background: rgb(27, 32, 95);
    color: white;
    margin-left: 5px;
    margin-top: 7px;
    transition-duration: 0.3s;
}
.left-nav button:hover{
    cursor: pointer;
    background: white;
    color: rgb(27, 32, 95);
}
.left-nav h2{
    @extend a;
    color: black;
    font-size: 25px;
    margin-left: 7px;
}
.left-nav input{
    margin-left: 10px;
    margin-top: 5px;
}

.main {
    margin-left: 270px; /* Same as the width of the sidenav */
}
.main-button {
    margin-left: 270px;
    border: 1px solid white;
    background: rgb(27, 32, 95);
    color: white;
    margin-top: 7px;
    transition-duration: 0.3s;
}
.main-button:hover {
    cursor: pointer;
    background: rgb(0, 162, 232);
    color: white;
}
.main-div {
    margin-left: 270px;
}
.main-div a {
    color: rgb(0, 162, 232);
    cursor: pointer;
    transition-duration: 0.3s;
    margin-left: 5px;
    font-size: 20px;
}

.main a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin-left: 15px;
}
.main a:hover{
    color: rgb(27, 32, 95);
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .left-nav {padding-top: 15px;}
    .left-nav a {font-size: 18px;}
}